{% extends 'base.html'%}
{% block content %}
    <h1>{{ team.team_name }}</h1>
    <h6>
        Ваша роль:
        {% if user == team.admin %}
            администратор
            {% if change_admin_form %}
                (
                <a data-toggle="collapse" href="#collapseChangeAdmin" aria-expanded="false" aria-controls="collapseChangeAdmin" style="font-size: 12px">
                    назначить нового администратора
                </a>)
                <div class="collapse" id="collapseChangeAdmin">
                    <div class="card card-body">
                        <form method="post" action="{% url 'slack:teams:change_admin' pk=team.id %}">{% csrf_token %}
                            {{ change_admin_form.as_p }}
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#changeAdminModal">
                                Назначить
                            </button>
                            <div class="modal fade" id="changeAdminModal" tabindex="-1" role="dialog" aria-labelledby="changeAdminModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="changeAdminModalLabel">Attention!</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div>При назначении нового администратора вам будет присвоена роль "Модератор".</div>
                                            <div>Вы уверены что хотите назначить нового администратора?</div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Отмена</button>
                                            <button type="submit" class="btn btn-danger">Назначить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% elif user in team.moderators.all %}
            модератор
        {% else %}
            пользователь
        {% endif %}
    </h6>
    <br>

    <!--Channel info-->
    {% if channel_form %}
        <h3>
            <a data-toggle="collapse" href="#collapseChannel" aria-expanded="false" aria-controls="collapseChannel">
                Канал
            </a>
        </h3>
        <div class="collapse" id="collapseChannel">
            <div class="card card-body">
                {% if team.message_chanel_name %}
                    <p>Канал в который установлен бот:
                        <a data-toggle="collapse" href="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
                            <b>{{ team.message_chanel_name }}</b>
                        </a>
                    </p>
                {% else %}
                    <p style="color: red;">Для функционирования бота необходимо
                        <a data-toggle="collapse" href="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
                            выбрать канал
                        </a>
                        в который будут приходить сообщения</p>
                {% endif %}
                <div class="collapse" id="collapseForm">
                    <div class="card card-body">
                        <form method="post" action="{% url 'slack:teams:change_channel' pk=team.id %}">{% csrf_token %}
                            {{ channel_form.as_p }}
                            <input type="submit" class="btn btn-success" value="Выбрать канал">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if user == team.admin %}
        <!--Users info-->
        {% if team.users.all or team.moderators.all %}
            <h3>
                <a data-toggle="collapse" href="#collapseAllUsers" aria-expanded="false" aria-controls="collapseAllUsers">
                    Пользователи и модераторы
                </a>
            </h3>
            <div class="collapse" id="collapseAllUsers">
                <div class="card card-body">
                    {% if team.users.all %}
                        <h4>
                            <a data-toggle="collapse" href="#collapseUsers" aria-expanded="false" aria-controls="collapseUsers">
                                Пользователи
                            </a>
                        </h4>
                        <div class="collapse" id="collapseUsers">
                            <div class="card card-body">
                                {% for my_user in team.users.all %}
                                    <p>{{ my_user.get_full_name }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <h4>
                        <a data-toggle="collapse" href="#collapseModerators" aria-expanded="false" aria-controls="collapseModerators">
                            Модераторы
                        </a>
                        {% if moderators_add_form %}
                            <a data-toggle="collapse" href="#collapseAddModerators" aria-expanded="false" aria-controls="collapseAddModerators" style="font-size: 12px">
                                (добавить модераторов)
                            </a>
                        {% endif %}
                    </h4>
                    {% if moderators_add_form %}
                        <div class="collapse" id="collapseAddModerators">
                            <div class="card card-body">
                                <form method="post" action="{% url 'slack:teams:add_moderator' pk=team.id %}">{% csrf_token %}
                                    {{ moderators_add_form.as_p }}
                                    <input type="submit" class="btn btn-success" value="Добавить">
                                </form>
                            </div>
                        </div>
                    {% endif %}
                    <div class="collapse" id="collapseModerators">
                        <div class="card card-body">
                            {% if team.moderators.all %}
                                {% for moderator in team.moderators.all %}
                                    <div>
                                        <div style="display: inline-block;">{{ moderator.get_full_name }}</div>
                                        <form method="post" action="{% url 'slack:teams:remove_moderator' pk=team.id %}" style="display: inline-block;float: right;">
                                            {% csrf_token %}
                                            <input name="moderator_id" type="text" value="{{ moderator.id }}" hidden>
                                            <input type="submit" class="btn btn-danger" value="удалить из модераторов" style="font-size: 10px;">
                                        </form>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div>
                                    На данный момент нет модераторов. Вы можете
                                    <a data-toggle="collapse" href="#collapseAddModerators" aria-expanded="false" aria-controls="collapseAddModerators">
                                        добавить модераторов
                                    </a>
                                    из списка пользователей.
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <!--Messages info-->
    <h3>
        <a data-toggle="collapse" href="#collapseMessages" aria-expanded="false" aria-controls="collapseMessages">
            Сообщения
        </a>
    </h3>
    <div class="collapse" id="collapseMessages">
        <div class="carard-body">
            {% if team.ask_messages.all %}
                {% for ask_message in team.ask_messages.all %}
                    {% if user in team.moderators.all or user == team.admin or user == ask_message.author_id %}
                    <div class="card" style="padding: 10px;">
                        <div style="font-size: 12px; margin-bottom: 5px;">
                            <b style="font-size: 20px;">{{ ask_message.author_name }}</b>
                            <span style="float: right;">{{ ask_message.create_date|date:"d.n.Y H:i" }}</span>
                        </div>
                        <h5 style="margin-left: 20px;">{{ ask_message.text }}</h5>
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div>
                    На данный момент никто не оставлял сообщений.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
