{% extends 'base.html'%}
{% block content %}
    <h1>{{ team.team_name }}</h1>
    <h6>
        Ваша роль:
        {% if user == team.admin %}
            администратор
        {% elif user in team.moderators.all %}
            модератор
        {% else %}
            пользователь
        {% endif %}
    </h6>
    <br>
    {% if user == team.admin %}
        <!--Channel info-->
        <h3>
            <a data-toggle="collapse" href="#collapseChannel" aria-expanded="false" aria-controls="collapseChannel">
                Канал
            </a>
        </h3>
        <div class="collapse" id="collapseChannel">
                <div class="card card-body">
                    {% if team.message_chanel_name %}
                        <p>Канал в который установлен бот:
                            <a data-toggle="collapse" href="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
                                <b>{{ team.message_chanel_name }}</b>
                            </a>
                        </p>
                    {% else %}
                        <p style="color: red;">Для функционирования бота необходимо
                            <a data-toggle="collapse" href="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
                                выбрать канал
                            </a>
                            в который будут приходить сообщения</p>
                    {% endif %}
                        <div class="collapse" id="collapseForm">
                            <div class="card card-body">
                                <form method="post" action="{% url 'slack:teams:change_channel' pk=team.id %}">{% csrf_token %}
                                    {{ channel_form.as_p }}
                                    <input type="submit" class="btn btn-success" value="Выбрать канал">
                                </form>
                            </div>
                        </div>
                </div>
        </div>

        <!--Users info-->

        <h3>
            <a data-toggle="collapse" href="#collapseAllUsers" aria-expanded="false" aria-controls="collapseAllUsers">
                Пользователи и модераторы
            </a>
        </h3>
        <div class="collapse" id="collapseAllUsers">
            <div class="card card-body">
                <h4>
                    <a data-toggle="collapse" href="#collapseUsers" aria-expanded="false" aria-controls="collapseUsers">
                        Пользователи
                    </a>
                </h4>
                <div class="collapse" id="collapseUsers">
                    <div class="card card-body">
                        {% for my_user in team.users.all %}
                            <p>{{ my_user.get_full_name }}</p>
                        {% endfor %}
                    </div>
                </div>

                <h4>
                    <a data-toggle="collapse" href="#collapseModerators" aria-expanded="false" aria-controls="collapseModerators">
                        Модераторы
                    </a>
                    {% if moderators_add_form %}
                        <a data-toggle="collapse" href="#collapseAddModerators" aria-expanded="false" aria-controls="collapseAddModerators" style="font-size: 12px">
                            (добавить модератора)
                        </a>
                    {% endif %}
                </h4>
                {% if moderators_add_form %}
                    <div class="collapse" id="collapseAddModerators">
                        <div class="card card-body">
                            <form method="post" action="{% url 'slack:teams:change_channel' pk=team.id %}">{% csrf_token %}
                                {{ moderators_add_form.as_p }}
                                <input type="submit" class="btn btn-success" value="Добавить">
                            </form>
                        </div>
                    </div>
                {% endif %}
                <div class="collapse" id="collapseModerators">
                    <div class="card card-body">
                        {% for moderator in team.moderators.all %}
                            <p>{{ moderator.get_full_name }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!--Messages info-->
    <h3>
        <a data-toggle="collapse" href="#collapseMessages" aria-expanded="false" aria-controls="collapseMessages">
            Сообщения
        </a>
    </h3>
    <div class="collapse" id="collapseMessages">
        <div class="carard-body">
            {% for ask_message in team.ask_messages.all %}
                {% if user in team.moderators.all or user == ask_message.author_id %}
                <div class="card" style="padding: 10px;">
                    <div style="font-size: 12px; margin-bottom: 5px;">
                        <b style="font-size: 20px;">{{ ask_message.author_name }}</b>
                        <span style="float: right;">{{ ask_message.create_date|date:"d.n.Y H:i" }}</span>
                    </div>
                    <h5 style="margin-left: 20px;">{{ ask_message.text }}</h5>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
